body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

#main-grid {
  display: grid;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  grid-template-rows: 55vw 1fr 200px;

  grid-template-areas:
    "main-banner"
    "main-content"
    "bottom-bar";

  font-family: "Source Sans Pro";
}
