#body-grid {
  display: grid;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100;

  grid-template-rows: 100vh 60px 1fr 200px;

  grid-template-areas:
    "main-banner"
    "nav-bar"
    "main-content"
    "bottom-bar";

  font-family: "Source Sans Pro";
}
