#main-banner {
  grid-area: main-banner;

  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}

#sfcc-logo {
  margin: 75px 0 0 75px;

  width: 100px;
  height: 100px;
}
