#nav-bar {
  grid-area: nav-bar;

  display: grid;
  grid-template-columns: 1fr minmax(900px, 8fr) 1fr;
  grid-template-areas:
    "white-space nav-menu lang-toggle";

  background-color: #7373C3;
  color: #282828;
}

#nav-menu {
  grid-area: nav-menu;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.nav-bar-blocks {
  display: inline-block;

  width: 100%;
  height: 20px;

  padding: 20px 0;

  border-left: 1px solid #555;
  text-align: center;
}

.nav-bar-blocks:last-child {
  border-right: 1px solid #555;
}

#language-toggle-links {
  grid-area: lang-toggle;

  width: 100%;
  min-width: 110px;
  height: 10px;

  padding-top: 25px;
  text-align: center;
  font-size: 0.7em;

  color: #221;
}

#language-toggle-links a:link, a:visited {
  color: #232;
}

#language-toggle-links a:hover {
  color: #999;
}

#language-toggler-links a:active {
  color: #CCD;
}
