<div id="nav-bar">
  <div id="nav-menu">
  <!-- About Us -->
    <span class="nav-bar-blocks">
      About Us

      <!-- Submenu -->
      <ul class="nav-sub-menus">
        <li class="nav-sub-menu-items">
          <a href="#">Our Church</a>
        </li>
        <li class="nav-sub-menu-items">
          <a href="#">Our Vision</a>
        </li>
        <li class="nav-sub-menu-items">
          <a href="#">Our Beliefs</a>
        </li>
        <li class="nav-sub-menu-items">
          <a href="#">Our Pastors & Staff</a>
        </li>
        <li class="nav-sub-menu-items">
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </span>

    <!-- Sunday Worship -->
    <span class="nav-bar-blocks">
      <a href="#">
        Sunday Worship
      </a>
    </span>

    <!-- Ministries -->
    <span class="nav-bar-blocks">
      Ministries
    </span>

    <!-- Events -->
    <span class="nav-bar-blocks">
      Events
    </span>

    <!-- Resources -->
    <span class="nav-bar-blocks">
      Resources
    </span>

    <!-- Get Involved -->
    <span class="nav-bar-blocks">
      Get Involved
    </span>
  </div>

  <span id="language-toggle-links">
    <a href="#">English</a>
    |
    <a href="#">Chinese</a>
  </span>
</div>
