<div id="nav-bar">
  <div id="nav-menu">
    <span class="nav-bar-blocks">
      About Us
    </span>

    <span class="nav-bar-blocks">
      Sunday Worship
    </span>

    <span class="nav-bar-blocks">
      Ministries
    </span>

    <span class="nav-bar-blocks">
      Events
    </span>

    <span class="nav-bar-blocks">
      Resources
    </span>

    <span class="nav-bar-blocks">
      Get Involved
    </span>
  </div>

  <span id="language-toggle-links">
    <a href="#">English</a>
    |
    <a href="#">Chinese</a>
  </span>
</div>
