{% extends "base.html" %}
{% load static from staticfiles %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/mainbanner.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/navbar.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "Landing/css/landing_home.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bottombar.css" %}">
{% endblock %}


{% block mainbanner %}
{% include "mainbanner.html" %}
{% endblock %}


{% block navbar %}
{% include "navbar.html" %}
{% endblock %}


{% block container %}
<div id="main-content">
  <div class="main-content-item">
    <!-- TM -->
    <div>
      <p>Taiwanese Service</p>
      <p>9:30 AM</p>
      <p>@SFCC</p>
    </div>

    <!-- EM -->
    <div>
      <p>English Service</p>
      <p>11:00 AM</p>
      <p>@SFCC</p>
    </div>

    <!-- MM -->
    <div>
      <p>Mandarin Service</p>
      <p>11:15 AM</p>
      <p>@BLC</p>
    </div>
  </div>

  <a id="instagram-link" href="https://www.instagram.com/formosanchurch/">
    <img class="main-content-image" src="{% static "images/instagramfollow.jpg" %}" />
  </a>
</div>
{% endblock %}


{% block bottombar %}
{% include "bottombar.html" %}
{% endblock %}
